<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge" />
<meta name="viewport"
	content="width-device-width, initial-scale=1, shrink-to-fit=no" />
<title>Login</title>
</head>
<body>

	<form method="post" th:action="@{login}">
		<div th:replace="fragment/mensagens"></div>
		Email:
		<input type="text" name="username" required autofocus> 
		<!-- required = obrigatorio, autofocus = foco automatico quando carregado-->
		
		<br>
		Senha:
		
		<input type="password" name="password">
		
		<input type="checkbox" name="remember-me">Lembrar-me<br>
		
		<button type="submit">Entrar</button>
	</form>

</body>
</html>